body {
  margin-bottom: 75px !important;
}
.container {
  margin-top: 75px !important;
}
.card {
  padding: 10px;
}
.navbar {
  margin-top: -75px !important;
}
.img-fluid {
  height: 150px;
  width: 250px;
}